<div class="aboutme__header">
  <p class="aboutme__header__p">Hello,</p>
  <p class="aboutme__header__p">My name is</p>
  <h1 class="aboutme__header__h">Karolina</h1>
  <p class="aboutme__header__p">and I would like to code with you</p>
</div>

<p class="aboutme__text">
  I am a motivated wanna-be Frontend Developer. I would like to work on
  interesting projects in which I would have the opportunity show my skills and
  learn something new at the same time. I would like to set myself new
  challenges and goals. I can easily find solutions to my programming problems
  on the Internet and I can use them in my applications. Knowing English
  broadens my possibilities, thanks to which I can use the documentation in
  English and learn from other people from the whole world.
</p>

<p class="aboutme__text">In my spare time I</p>

<div class="aboutme__interests__conatiner">
  <div class="aboutme__interests">
    <img
      src="../../assets/images/evacuation.png"
      alt=""
      class="aboutme__interests__img"
    />
    <p>visit escape rooms</p>
  </div>

  <div class="aboutme__interests">
    <img
      src="../../assets/images/cat.png"
      alt=""
      class="aboutme__interests__img"
    />
    <p>play with my cats</p>
  </div>

  <div class="aboutme__interests">
    <img
      src="../../assets/images/motherboard.png"
      alt=""
      class="aboutme__interests__img"
    />
    <p>programme Arduino</p>
  </div>

  <div class="aboutme__interests">
    <img
      src="../../assets/images/table-games.png"
      alt=""
      class="aboutme__interests__img"
    />
    <p>play board games</p>
  </div>

  <div class="aboutme__interests">
    <img
      src="../../assets/images/bake.png"
      alt=""
      class="aboutme__interests__img"
    />
    <p>bake</p>
  </div>
</div>

<!-- <div>
    Icons made by
    <a href="https://www.freepik.com" title="Freepik"> Freepik </a> from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a>
  </div> -->
