<h1 class="main--header">Contact</h1>

<div class="contact__container">
  <p>You can contact me via</p>
  <a
    href="https://github.com/karolina-S"
    class="contact__container__item"
    target="_blank"
    ><i class="fab fa-github"></i> Github</a
  >
  <a
    href="https://codepen.io/___Karolina___"
    class="contact__container__item"
    target="_blank"
    ><i class="fab fa-codepen"></i> Codepen</a
  >
  <a
    href="https://linkedin.com/in/karolina-roczek"
    class="contact__container__item"
    target="_blank"
    ><i class="fab fa-linkedin"></i> LinkedIn</a
  >

  <a
    href="mailto:karolina.m.ste@gmail.com"
    class="contact__container__item"
    target="_blank"
    ><i class="fas fa-envelope-open-text"></i> E-mail</a
  >
</div>
<router-outlet></router-outlet>
