<h1 class="main--header">My portfolio</h1>

<div class="mywork__container">
  <div class="mywork__item">
    <h2 class="mywork__title">FlightApp</h2>
    <a target="_blank" href="https://karolina-s.github.io/flightApp"
      ><img
        class="mywork__photo"
        src="../../assets/images/flightApp.jpg"
        alt="Aplikacja FlightApp"
    /></a>
    <p class="mywork__description">
      The application was created as part of the final project on the Frontend
      Developer postgraduate studies. Airline booking service with a choice of
      destination, a ticket class and a seat on the plane.
    </p>
    <div class="tech__container">
      <p class="tech__item">HTML</p>
      <p class="tech__item">SCSS</p>
      <p class="tech__item">Angular</p>
      <p class="tech__item">SVG</p>
    </div>
  </div>

  <div class="mywork__item">
    <h2 class="mywork__title">Decpiher the message</h2>
    <a target="_blank" href="https://karolina-s.github.io/decipherthemessage"
      ><img
        class="mywork__photo"
        src="../../assets/images/decipherthemessage.jpg"
        alt=""
    /></a>
    <p class="mywork__description">
      Decipher the Message is an application created for the competition on the
      LockMe page. Contains five puzzles related to the escape rooms and the
      solutions create the competition slogan.
    </p>
    <div class="tech__container">
      <p class="tech__item">HTML</p>
      <p class="tech__item">SCSS</p>
      <p class="tech__item">Angular</p>
    </div>
  </div>

  <div class="mywork__item">
    <h2 class="mywork__title">Di Cotone</h2>
    <a target="_blank" href="https://dicotone.pl/"
      ><img
        class="mywork__photo"
        src="../../assets/images/dicotone.jpg"
        alt=""
      />
    </a>
    <p class="mywork__description">
      The website created for the Di Cotone company. A simple landing page with
      a gallery and basic information about the company.
    </p>
    <div class="tech__container">
      <p class="tech__item">HTML</p>
      <p class="tech__item">CSS</p>
      <p class="tech__item">JavaScript</p>
    </div>
  </div>
</div>
