<h1 class="main--header">My skills</h1>

<div class="myskills">
  <div class="myskills__container">
    <h2>Programming</h2>
    <ul class="myskills__container__item-container">
      <li class="myskills__container__item">HTML</li>
      <li class="myskills__container__item">CSS</li>
      <li class="myskills__container__item">SCSS</li>
      <li class="myskills__container__item">JavaScript</li>
      <li class="myskills__container__item">Angular</li>
      <li class="myskills__container__item">GIT</li>
      <li class="myskills__container__item">Github</li>
      <li class="myskills__container__item">npm</li>
      <li class="myskills__container__item">BEM</li>
      <li class="myskills__container__item">Webpack</li>
    </ul>
  </div>
  <div class="myskills__container">
    <h2>Soft skills</h2>
    <ul class="myskills__container__item-container">
      <li class="myskills__container__item">Team player</li>
      <li class="myskills__container__item">Communication skills</li>
      <li class="myskills__container__item">Problem solving</li>
      <li class="myskills__container__item">Fast learner</li>
      <li class="myskills__container__item">Critical thinking</li>
      <li class="myskills__container__item">Driven worker</li>
    </ul>
  </div>
  <div class="myskills__container">
    <h2>Languages</h2>
    <ul class="myskills__container__item-container">
      <li class="myskills__container__item">Polish native</li>
      <li class="myskills__container__item">English C1</li>
      <li class="myskills__container__item">German A2</li>
      <li class="myskills__container__item">French A2</li>
      <li class="myskills__container__item">Czech A1</li>
      <li class="myskills__container__item">Italian A1</li>
    </ul>
  </div>
</div>

<h2 class="myskills__second-header">Education</h2>

<div class="myskills__container__school">
  <div class="myskills__container__school-item">
    <p class="myskills__container__school-area">English philology</p>
    <p>Bachelor's Degree</p>
    <p>Jan Dlugosz University Czestochowa</p>
  </div>
  <div class="myskills__container__school-item">
    <p class="myskills__container__school-area">Frontend Developer</p>
    <p>Postgraduate studies</p>
    <p>Collegium Da Vinci Poznan</p>
  </div>
</div>

<div class="myskills__cv">
  <a href="../../assets/KarolinaRoczekCV.pdf" class="myskills__cv-link"
    >Download my CV</a
  >
</div>
