@import url("https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #000;
  color: white;
  font-family: "Mohave";
  background-color: #000;
}

.main--header {
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
}
